@import url('https://fonts.googleapis.com/css?family=Oswald');

/* Global */

*:focus {
  outline: none !important;
}

/* Generic */

body {
  background-color: #ececec;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  /*padding-bottom: 30px;*/
  color: #676767;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@import url('https://fonts.googleapis.com/css?family=Oswald');

/* Global */

*:focus {
  outline: none !important;
}

/* Generic */

body {
  background-color: #ececec;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  /*padding-bottom: 30px;*/
  color: #676767;
}

/* Bootstrap Overide */

.main-sidebar a:hover,.main-sidebar a:focus {
  text-decoration: none;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Sidebar */

.sidebar-toggle {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  background-color: #303c52;
  color: #3b8c47;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-toggle:hover,.sidebar-toggle:focus {
  color: #47ad56;
}

.main-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  background-color: #333645;
  -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
  transition: transform .3s ease-in-out, width .3s ease-in-out;
}

@media (max-width: 767px) {
  .main-sidebar {
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  .main-sidebar {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
  }
}

@media (min-width: 768px) {
  .sidebar-collapse .main-sidebar {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
  }
}

.sidebar {
  padding-bottom: 10px;
  margin-top: 10px;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu>li {
  position: relative;
  margin: 0;
  padding: 0;
}

.sidebar-menu>li>a {
  color: #b7bbc4;
  padding: 15px 5px 15px 20px;
  display: block;
}

.sidebar-menu>li:hover>a,.sidebar-menu>li.active>a {
  color: #ffffff;
  background: #3f4251;
}

.sidebar-menu>li.active>a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  border: solid transparent;
  border-left-color: #3b8c47;
  border-width: 10px 6px;
}

.sidebar-menu>li>a>.fa {
  width: 20px;
}

.sidebar-menu li>a>.fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
}

.sidebar-menu li.active>a>.fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 50px !important;
    z-index: 850;
  }

  .sidebar-mini.sidebar-collapse .sidebar-menu>li {
    position: relative;
  }

  .sidebar-mini.sidebar-collapse .sidebar-menu>li>a {
    margin-right: 0;
  }

  .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
    border-top-right-radius: 4px;
  }

  .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span {
    top: 0;
    margin-left: -3px;
    padding: 15px 5px 15px 20px;
    background-color: inherit;
  }

  .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
    display: none !important;
    -webkit-transform: translateZ(0);
  }
}

.sidebar-menu li>a:hover .alpha-icon {
  display: none !important;
}

.alpha-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -16px;
  font-size: 12px;
  color: #3b8c47;
  display: block;
  letter-spacing: .5px;
}

.sidebar-menu {
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-menu:hover {
  overflow: visible;
}

.sidebar-menu li>a {
  position: relative;
}

@import url('https://fonts.googleapis.com/css?family=Oswald');

/* Global */

*:focus {
  outline: none !important;
}

/* Generic */

body {
  background-color: #ececec;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  /*padding-bottom: 30px;*/
  color: #676767;
}

/* Bootstrap Overide */

.btn-default {
  color: #676767;
}

.main-header a:hover,.main-header a:focus {
  text-decoration: none;
}

/* Header */

.main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  max-height: 100px;
  z-index: 1030;
}

a.dropdown-toggle~ul.dropdown-menu {
  left: -100px;
}

.main-header .logo {
  display: block;
  float: left;
  height: 60px;
  font-size: 15px;
  line-height: 60px;
  text-align: center;
  width: 230px;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
  background-color: #303c52;
  color: #ffffff;
  border-bottom: 0 solid transparent;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  cursor: pointer;
}

.main-header .logo:hover {
  background-color: #357ca5;
}

.main-header .logo .logo-lg {
  display: block;
}

.main-header .logo .logo-mini {
  display: none;
}

.main-header .navbar {
  -webkit-transition: margin-left 0.3s ease-in-out;
  -o-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;
  margin-bottom: 0;
  margin-left: 230px;
  padding-right: 15px;
  border: none;
  min-height: 50px;
  border-radius: 0;
  background-color: #fff;
}

.main-header .nav>li {
  display: inline-block;
}

.main-header .nav>li>a {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #bcbcbc;
}

.main-header .nav>li>a:hover,.main-header .nav>li>a:focus {
  background-color: transparent;
  color: #696969;
}

/* Modal */

label {
  color: #737373;
  text-transform: uppercase;
  font-weight: normal;
}

/* Hexagon Buttons */

.hb {
  display: inline-block;
  position: relative;
  text-align: center;
  z-index: 0;
  line-height: 20px;
  border: none;
}

.hb,.hb:before,.hb:after {
  height: 18px;
  width: 32px;
  box-sizing: border-box;
  background-color: #1290c0;
  border-left: 1px solid #1290c0;
  border-right: 1px solid #1290c0;
  color: #fff;
}

.hb:before,.hb:after {
  position: absolute;
  content: "";
  left: -1px;
  top: 0;
  z-index: -1;
}

.hb:before {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}

.hb:after {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hb:focus,.hb:focus:before,.hb:focus:after,.hb:hover,.hb:hover:before,.hb:hover:after {
  background: #0a698c;
  border-left: 1px solid #0a698c;
  border-right: 1px solid #0a698c;
  color: #fff;
}

.hb i {
  z-index: 9;
}

.hb.danger,.hb.danger:before,.hb.danger:after {
  background-color: #f06261;
  border-left: 1px solid #f06261;
  border-right: 1px solid #f06261;
}

.hb.danger:hover,.hb.danger:hover:before,.hb.danger:hover:after {
  background: #c54948;
  border-left: 1px solid #c54948;
  border-right: 1px solid #c54948;
}

.hb.warning,.hb.warning:before,.hb.warning:after {
  background-color: #a99359;
  border-left: 1px solid #a99359;
  border-right: 1px solid #a99359;
}

.hb.warning:hover,.hb.warning:hover:before,.hb.warning:hover:after {
  background: #8c7741;
  border-left: 1px solid #8c7741;
  border-right: 1px solid #8c7741;
}

.hb.success,.hb.success:before,.hb.success:after {
  background-color: #3eae4a;
  border-left: 1px solid #3eae4a;
  border-right: 1px solid #3eae4a;
}

.hb.success:hover,.hb.success:hover:before,.hb.success:hover:after {
  background: #288432;
  border-left: 1px solid #288432;
  border-right: 1px solid #288432;
}

.hb.default,.hb.default:before,.hb.default:after {
  background-color: #fff;
  color: #3eae49;
  border-left: 1px solid #3eae49;
  border-right: 1px solid #3eae49;
}

.hb.default:hover,.hb.default:hover:before,.hb.default:hover:after {
  background: #fff;
  color: #1f8c2a;
  border-left: 1px solid #1f8c2a;
  border-right: 1px solid #1f8c2a;
}

.hb.xs,.hb.xs:before,.hb.xs:after {
  height: 13px;
  width: 22px;
}

.hb.xs {
  font-size: 14px;
  line-height: 16px;
}

.hb.lg,.hb.lg:before,.hb.lg:after {
  height: 26px;
  width: 45px;
}

.hb.lg i {
  font-size: 20px;
}

/* Panels Cust */

/*.panel-cust .panel-default .panel-heading a {
  display: table;
  width: 100%;
  text-decoration: none;
}*/

/* Files */

.btn {
  border-radius: 3px;
}

/* Select 2 */

.static-label {
  display: inline-block;
  color: #545454;
}

.margin-right {
  margin-right: 20px;
}

.headContentText {
  display: inline-block;
  font-size: 16px;
  line-height: 60px;
  margin-left: 15px;
  color: #5f6571;
}

.headContentText a {
  color: #5f6571;
}

/* Absolute Center Spinner */

/* Transparent Overlay */

/* :not(:required) hides these rules from IE9 and below */

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Sidebar */

.no-margin {
  margin: 0px;
}

#actionProfileDropdown {
  margin-top: 10px;
}



.user-dropdown .username {
  padding: 3px 20px;
  color: #333;
}

.user-dropdown .logout a {
  color: #008fc2 !important;
}

#cluster-dropdown {
  padding: 6px 5px;
}

/*.topic-metric-label:nth-child(2) span {
  color: #e92823;
}*/

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

/*.tab-padding ul li{
  padding: 6px 0px;
}*/

/*For Broker Name*/

/*End of For Broker Name*/

/*For Topic Name*/

/*End of For Topic Name*/

/*For Topic Name*/

/*End of For Topic Name*/

#notification-dropdown + .dropdown-menu {
  width: 300px;
}

.notifications-header {
  border-bottom: 1px solid #eee;
  padding: 5px 10px;
}

.notifications-header h4 {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  display: inline-block;
}

.notifications-header span {
  padding: 8px;
  color: #337ab7;
}

#notification-dropdown + .dropdown-menu label {
  text-transform: none;
  font-size: 14px;
  color: #9c9c9c;
}

#notification-dropdown + .dropdown-menu .show-btn {
  border-top: 1px solid #eee;
  padding: 10px 15px;
}

#notification-dropdown + .dropdown-menu .select-type {
  text-align: right;
  margin: 10px 5px;
}

#notification-dropdown + .dropdown-menu .items {
  padding: 0px 15px;
}

#notification-dropdown + .dropdown-menu .item {
  border-top: 1px solid #eee;
  padding: 10px 0 25px 0;
}

#notification-dropdown + .dropdown-menu .item span,#notification-dropdown + .dropdown-menu .item h5 {
  display: inline-block;
}

#notification-dropdown + .dropdown-menu .item h5 {
  margin-left: 10px;
}

#notification-dropdown + .dropdown-menu .item p {
  margin-left: 30px;
}

#notification-dropdown + .dropdown-menu .item .time-label {
  color: #919191;
}

#notification-dropdown + .dropdown-menu .item .unread {
  color: #1290c0;
}

#dropdown-notification-type {
  border: none;
  background-color: #fff;
  box-shadow: none;
  color: #1290c0;
  font-size: 14px;
}

#notification-dropdown .fa-bell,#profile-dropdown .fa-user {
  font-size: 16px;
}

.notifications .red-badge:after {
  content: "";
  position: absolute;
  background: #f06261;
  height: 10px;
  top: 4px;
  right: 3px;
  width: 10px;
  text-align: right;
  line-height: 10px;
  border-radius: 50%;
}

/*Alert policy tab*/

/* Notifiers tab */

/*------------------------------------------------*/

/* Switch SECTION START*/

/*------------------------------------------------*/

/* Round Switch */

/*------------------------------------------------*/

/* Switch SECTION END*/

/*------------------------------------------------*/

#alert-dropdown.dropdown-toggle {
  margin-left: 10px;
}

/* .radio-block-comp input:focus {
  outline: 1px solid !important;
} */

