<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">Cloudbreak Credentials</div>
    <div class="card-body">
      <form (ngSubmit)="saveCbCreds(cred)">
        <div class="form-group">
          <label>Instance Name</label>
          <input type="text" class="form-control" [(ngModel)]="cred.instance_name" name="name" placeholder="Cloudbreak Instance Name">
        </div><!--
        <div class="form-group">
          <label>Cloudbreak URL</label>
          <input type="text" class="form-control" id="cbCredURL" placeholder="Cloudbreak Instance URL">
        </div>
        <div class="form-group">
          <label>Cloudbreak Username</label>
          <input type="email" class="form-control" id="cbCredUser" placeholder="admin@example.com">
        </div>
        <div class="form-group">
          <label>Cloudbreak Password</label>
          <input type="password" class="form-control" id="cbCredPass" placeholder="hunter2">
        </div>
        <div>
          <button type="submit" class="btn btn-primary mb-2">Save Credentials</button>
        </div>-->
      </form>
    </div>
  </div>
</div>
