<div class="animated fadeIn" *ngIf="showList">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Custom Extras
            <span class="float-right" *ngIf="!showAddCredentials"><button type="button" class="btn btn-block btn-primary" (click)="toggleAdd()">Add Custom Recipe</button></span>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="20%">Name</th>
                        <th width="20%">Extra Type</th>
                        <th width="20%">Recipe Type</th>
                        <th width="40%">Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customExtra of customExtras">
                        <td>{{customExtra.name}}</td>
                        <td>{{customExtra.extra_type}}</td>
                        <td>{{customExtra.recipe_type}}</td>
                        <td>{{customExtra.code}}</td>
                    </tr>
                </tbody>
            </table>
  
        </div>
    </div>
</div>


<div class="card" *ngIf="showExtras">
  <div class="card-header">
    <strong>Select Extra</strong><span class="float-right"><button type="button" class="btn btn-block btn-primary" (click)="cancelAdd()">Cancel</button></span>
  </div>
  <form #extraFrom="ngForm" (ngSubmit)="selectExtra(extraFrom)" novalidate class="form-horizontal">
  <div class="card-body">
    
    <p width=50px>
      <select name="extraSelected" class="form-control" ngModel>
        <option *ngFor="let type of extraTypes">{{type}}</option>
      </select>
    </p>
    <p width=200px><button type="submit" class="btn btn-sm btn-primary">Add Extra</button></p>
  </div>
</form>
</div>
<div class="card" *ngIf="showRecipe">
  <div class="card-header">
    <strong>Add Recipe</strong><span class="float-right"><button type="button" class="btn btn-block btn-primary" (click)="cancelAdd()">Cancel</button></span>
  </div>
  
  <div class="card-body">
    <form #f="ngForm" (ngSubmit)="addCustomRecipe(f)" novalidate class="form-horizontal">
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="description">Name</label>
            <div class="col-md-9">
              <input class="form-control" name="name" ngModel>
            </div>
          </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="description">Recipe Type</label>
        <div class="col-md-9">
          <select class="form-control" name="recipe_type" ngModel>
            <option *ngFor="let type of recipeTypes">{{type}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="clusterType">Cluster Type</label>
        <div class="col-md-9">
          <select class="form-control" name="cluster_type" ngModel>
            <option *ngFor="let type of clusterTypes">{{type}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="clusterVersion">Cluster Version</label>
        <div class="col-md-9">
          <input name="clusterVersion" class="form-control" ngModel [attr.disabled]="true">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="serviceTypes">Service</label>
        <div class="col-md-9">
          <select class="form-control" name="service_type" ngModel>
            <option *ngFor="let type of serviceTypes">{{type.service_description}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="code">Code</label>
        <div class="col-md-9">
          <textarea class="form-control" rows="9" name="code" ngModel></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
    </form>
  </div>
</div>

<div class="card" *ngIf="showNifi">
  <div class="card-header">
    <strong>Add NiFi Template</strong><span class="float-right"><button type="button" class="btn btn-block btn-primary" (click)="cancelAdd()">Cancel</button></span>
  </div>
  <div class="card-body">
    <form #f="ngForm" (ngSubmit)="addNifiTemplate(f)" novalidate class="form-horizontal">
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="description">Name</label>
            <div class="col-md-9">
              <input class="form-control" name="name" ngModel>
            </div>
          </div>
      <div class="form-group row">
            <label class="col-md-3 col-form-label" for="clusterType">Cluster Type</label>
            <div class="col-md-9">
              <select class="form-control" name="cluster_type" ngModel>
                <option *ngFor="let type of clusterTypes">{{type}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
              <label class="col-md-3 col-form-label" for="clusterVersion">Cluster Version</label>
              <div class="col-md-9">
                <input name="clusterVersion" class="form-control" ngModel [attr.disabled]="true">
              </div>
            </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="code">Nifi Template</label>
        <div class="col-md-9">
          <textarea class="form-control" rows="9" name="code" ngModel></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
    </form>
  </div>
</div>

<div class="card" *ngIf="showZep">
  <div class="card-header">
    <strong>Add Zeppelin Note</strong><span class="float-right"><button type="button" class="btn btn-block btn-primary" (click)="cancelAdd()">Cancel</button></span>
  </div>
  <div class="card-body">
      <form #f="ngForm" (ngSubmit)="addZeppelinNote(f)" novalidate class="form-horizontal">
          <div class="form-group row">
              <label class="col-md-3 col-form-label" for="description">Name</label>
              <div class="col-md-9">
                <input class="form-control" name="name" ngModel>
              </div>
            </div>
        <div class="form-group row">
              <label class="col-md-3 col-form-label" for="clusterType">Cluster Type</label>
              <div class="col-md-9">
                <select class="form-control" name="cluster_type" ngModel>
                  <option *ngFor="let type of clusterTypes">{{type}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="clusterVersion">Cluster Version</label>
                <div class="col-md-9">
                  <input name="clusterVersion" class="form-control" ngModel [attr.disabled]="true">
                </div>
              </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="code">Zeppelin Note</label>
          <div class="col-md-9">
            <textarea class="form-control" rows="9" name="code" ngModel></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
      </form>
    </div>

</div>

<div class="card" *ngIf="showSQL">
  <div class="card-header">
    <strong>Add SQL Script</strong><span class="float-right"><button type="button" class="btn btn-block btn-primary" (click)="cancelAdd()">Cancel</button></span>
  </div>
  <div class="card-body">
      <form #f="ngForm" (ngSubmit)="addSQLScript(f)" novalidate class="form-horizontal">
          <div class="form-group row">
              <label class="col-md-3 col-form-label" for="description">Name</label>
              <div class="col-md-9">
                <input class="form-control" name="name" ngModel>
              </div>
            </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="clusterType">Cluster Type</label>
          <div class="col-md-9">
            <select class="form-control" name="cluster_type" ngModel>
              <option *ngFor="let type of clusterTypes">{{type}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="clusterVersion">Cluster Version</label>
          <div class="col-md-9">
            <input name="clusterVersion" class="form-control" ngModel [attr.disabled]="true">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="serviceTypes">Service</label>
          <div class="col-md-9">
            <select class="form-control" name="service_type" ngModel>
              <option *ngFor="let type of sqlServiceTypes">{{type}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="code">SQL Script</label>
          <div class="col-md-9">
            <textarea class="form-control" rows="9" name="code" ngModel></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
      </form>
    </div>
</div>
