<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <div style="height: 45px; padding: 4px;">
      <img style="padding: 5px;"src="../../../assets/favicon.ico" width=40px>&nbsp;
      <span class="animated fadeIn" *ngIf="!sidebarMinimized"><b>Cloudbreak Cuisine</b></span>
    </div>
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none"></li>
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
</app-footer>
